<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>skybankaim</name>
	<displayName><![CDATA[SkyBank Advanced Payment Module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Accept Credit, Debit, and ACH Payments Online With An Optional Auto-Ship Feature Today!]]></description>
	<author><![CDATA[SkyBank]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>